Host *
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    ServerAliveInterval 30
    ServerAliveCountMax 10
    ControlMaster auto
    ControlPersist 5m

Host *.dev.tse.com
  ProxyCommand ssh -W %h:%p tmplxapp-asd02.prd.tse.com
  ForwardAgent yes

Host *.asd.tse.ca
  ProxyCommand ssh -W %h:%p tmplxapp-asd02.prd.tse.com
  ForwardAgent yes
