[defaults]
inventory = inventory/hosts.ini
playbook_dir = playbooks
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
result_format=yaml
collections_path = collections
display_failed_stderr = yes
fact_caching = jsonfile
fact_caching_connection = .cache
fact_caching_timeout = 3600
force_handlers = yes
forks = 20
gathering = smart
show_task_path_on_failure = yes
vault_password_file = ./config/vault_pass

[ssh_connection]
pipelining = True
ssh_args = -F config/ssh_config

[colors]
changed = bright yellow
error = bright red
ok = bright green

[diff]
always = True

[privilege_escalation]
become = True
;become_ask_pass = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
